<section>
    <div class="tr-register">
        <div class="tr-regi-form">
            <h4>Create an Account</h4>
            <p>It's free and always will be.</p>
            <form [formGroup]="registerForm" class="col s12" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
                <div class="row">
                    <div class="input-field col m6 s12">
                        <input id="firstName" type="text" formControlName="firstName" class="validate">
                        <label for="firstName">First Name</label>
                    </div>
                    <div class="input-field col m6 s12">
                        <input id="lastName" type="text" formControlName="lastName" class="validate">
                        <label for="lastName">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="mobile" type="number" formControlName="mobile" class="validate">
                        <label for="mobile">Mobile</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" formControlName="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" formControlName="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="password" class="validate">
                        <label>Confirm Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button [class.disabled]="f.invalid" type="submit"
                            class="waves-effect waves-light btn-large full-btn waves-input-wrapper waves-button-input"
                            style="font-size: inherit;">Submit</button>
                    </div>
                </div>
            </form>
            <p>Are you a already member ? <a routerLink="/login">Click to Login</a>
            </p>
        </div>
    </div>
</section>