<div class="search-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="search-form">
                <form class="tourz-search-form">
                    <div class="input-field col s4">
                        <select #from id="from">
                            <option value="" disabled selected>From </option>
                            <option value="1">Colombo Fort</option>
                            <option value="2">Gall</option>
                            <option value="3">Matara</option>
                        </select>
                        <label for="select-city">From</label>
                    </div>
                    <div class="input-field col s4">
                        <select #to id="to">
                            <option value="" disabled selected>To </option>
                            <option value="1">Colombo Fort</option>
                            <option value="2">Gall</option>
                            <option value="3">Matara</option>
                        </select>
                        <label for="select-search" class="search-hotel-type">To</label>
                    </div>
                    <div class="input-field col s2">
                        <i class="waves-effect waves-light tourz-sear-btn waves-input-wrapper" >
                            <input style="width: 100%;" type="button" value="search" class="waves-button-input" (click)="search(from.value, to.value)"/>
                        </i>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="db">
        <app-side-nav *ngIf="authService.currentUserValue"></app-side-nav>

        <router-outlet></router-outlet>
<!--         
        <div class="db-3">
            <h4>Notifications</h4>
            <ul>
                <li>
                    <a href="#!"> <img src="../../../../assets/images/icon/dbr1.jpg" alt="">
                        <h5>50% Discount Offer</h5>
                        <p>All the Lorem Ipsum generators on the</p>
                    </a>
                </li>
                <li>
                    <a href="#!"> <img src="../../../../assets/images/icon/dbr2.jpg" alt="">
                        <h5>paris travel package</h5>
                        <p>All the Lorem Ipsum generators on the</p>
                    </a>
                </li>
                <li>
                    <a href="#!"> <img src="../../../../assets/images/icon/dbr3.jpg" alt="">
                        <h5>Group Trip - Available</h5>
                        <p>All the Lorem Ipsum generators on the</p>
                    </a>
                </li>
                <li>
                    <a href="#!"> <img src="../../../../assets/images/icon/dbr4.jpg" alt="">
                        <h5>world best travel agency</h5>
                        <p>All the Lorem Ipsum generators on the</p>
                    </a>
                </li>
                <li>
                    <a href="#!"> <img src="../../../../assets/images/icon/dbr5.jpg" alt="">
                        <h5>special travel coupons</h5>
                        <p>All the Lorem Ipsum generators on the</p>
                    </a>
                </li>
                <li>
                    <a href="#!"> <img src="../../../../assets/images/icon/dbr6.jpg" alt="">
                        <h5>70% Offer 2018</h5>
                        <p>All the Lorem Ipsum generators on the</p>
                    </a>
                </li>
                <li>
                    <a href="#!"> <img src="../../../../assets/images/icon/dbr7.jpg" alt="">
                        <h5>Popular Cities</h5>
                        <p>All the Lorem Ipsum generators on the</p>
                    </a>
                </li>
                <li>
                    <a href="#!"> <img src="../../../../assets/images/icon/dbr8.jpg" alt="">
                        <h5>variations of passages</h5>
                        <p>All the Lorem Ipsum generators on the</p>
                    </a>
                </li>
            </ul>
        </div> -->
    </div>
</section>