<div class="dbd-2" [class.full-width]="!authService.currentUserValue" [class.pl]="authService.currentUserValue">
    <!-- <div class="db-2-com db-2-main"> -->
    <!-- <h4>Search Trains</h4> -->
    <!-- <div class="inn-page-con-bg tb-space pad-bot-redu-5"> -->
    <!-- <div class="rows"> -->
    <div class="tr-regi-form v2-search-form" style="margin-top: 0px;">
        <h4>Book <span>Ticket</span></h4>
        <p>It's really easy.</p>
        <form class="contact__form" method="post"
            action="http://rn53themes.net/themes/demo/travelz/mail/tourbooking.php">
            <div class="alert alert-success contact__msg" style="display: none" role="alert">
                Thank you for arranging a wonderful trip for us! Our team will contact you shortly!
            </div>
            <div class="row" style="margin-top: 12px;">
                <div class="input-field col s6">
                    <div class="">
                        <label for="train-name" style="font-size: .8em; opacity: 1;">From</label>
                        <input type="text" id="from-label" class="" readonly="true" [value]="fromStation?.name">
                    </div>
                </div>
                <div class="input-field col s6">
                    <div class="">
                        <label for="ticket-price" style="font-size: .8em; opacity: 1;">To</label>
                        <input type="text"  id="to-label" readonly="true" [value]="toStation?.name">
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 12px;">
                <div class="input-field col s6">
                    <div class="">
                        <label for="train-name" style="font-size: .8em; opacity: 1;">Train Name</label>
                        <input type="text" id="train-name" class="" readonly="true" [value]="train?.trainName">
                    </div>
                </div>
                <div class="input-field col s6">
                    <div class="">
                        <label for="ticket-price" style="font-size: .8em; opacity: 1;">Ticket Price</label>
                        <input type="text"  id="ticket-price" readonly="true" [value]="price * quantity">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="number" class="validate" (change)="onQuantityChange(this.value)" name="no-of-ticket" [(ngModel)]="quantity" required="">
                    <label style="opacity: 1;">Number Of Tickets</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" id="from" name="arrival" [(ngModel)]="arrivalDate" readonly="">
                    <label for="from">Arrival Date</label>
                </div>
                <div class="input-field col s6">
                    <div class="select-wrapper">
                        <select name="package" (change)="getPrice()" id="ticket-category" class="initialized">
                            <option value="" disabled="" selected="">Select Ticket Category </option>
                            <!-- <option value="Honeymoon Package">1st Class</option> -->
                            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
                        </select>
                    </div>
                </div>
            </div>
           
            <div class="row">
                <div class="input-field col s12">
                    <i class="waves-effect waves-light tourz-sear-btn v2-ser-btn waves-input-wrapper">
                        <input type="submit" (click)="bookTicket()" value="Book Now" class="waves-button-input">
                    </i>
                </div>
            </div>
        </form>
    </div>
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
</div>