input.select-dropdown {
    background-color: white !important;
}
.select-wrapper input.select-dropdown {
    background-color: white !important;
}
.input-field.col.s4 .select-wrapper {
    width: 100%;
}
.select-wrapper input.select-dropdown {
    background-color: white !important;
}